

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* weather items */
.weather-condition { text-align: center; }
.temps { text-align: right; }

/* hi/low lighting */
li.unacceptable{
  background:#666;
}

.no-go-message {
  position:absolute;
  left:50%;
  width: 300px;
  margin-left:-150px;
  text-align: center;
  color: #FFF;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
*/
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
  color: #333;
  font-family: 'MeteoconsRegular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: "F"; }
.icon-1:before { content: "T"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "R"; }
.icon-4:before { content: "Q"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "Q"; }
.icon-10:before { content: "Q"; }
.icon-11:before { content: "Q"; }
.icon-12:before { content: "Q"; }
/* check below if you have time */
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "M"; }
.icon-20:before { content: "M"; }
.icon-21:before { content: "M"; }
.icon-22:before { content: "M"; }
.icon-23:before { content: "F"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "Y"; }
.icon-27:before { content: "H"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "H"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "C"; }
.icon-32:before { content: "B"; }
.icon-33:before { content: "C"; }
.icon-34:before { content: "B"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "B"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "A"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
