<ul class="list-group">
	<li class="list-group-item item-{{ $index }}" ng-repeat="weather in weatherData.query.results.channel.item.forecast">
		<span class="day">{{ weather.day }}</span>
		<i class="icon-{{ weather.code }}"></i> 
		{{ weather.high }} &deg;{{ weatherData.query.results.channel.units.temperature }} 
	</li>
</ul>

<div> <label>Location: </label>
	<select select-location>{{ locationChoices }}
		<option selected disabled>Please Select</option>
		<option ng-repeat="location in locationChoices" value="{{ location.woeid }}">{{ location.name }}</option>
		<option value="mine">* My Location *</option>
	</select>
</div>

<div> <label>Ideal Weather Condition: </label>
	<select select-location>{{ locationChoices }}
		<option ng-repeat="condition in weatherConditions" value="{{ condition.codes }}">{{ condition.name }}</option>
		<option value="nope">* I don't care *</option>
	</select>
</div>

<div range-slider> <label>Ideal Temperature: </label>
	<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
	<div id="slider-range"></div>
</div>